services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: zeroo_database
      POSTGRES_PASSWORD: passwd2972
      POSTGRES_DB: pembinaan_siswa
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: fastapi_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://zeroo_database:passwd2972@db:5432/pembinaan_siswa
    ports:          # ganti expose → ports biar bisa diakses langsung
      - "8000:8000"
    volumes:
      - ./backend/uploads:/app/uploads
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    depends_on:
      - backend
    ports:          # ganti expose → ports biar bisa diakses langsung
      - "80:80"
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge



