services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: zeroo_database
      POSTGRES_PASSWORD: passwd2972
      POSTGRES_DB: pembinaan_siswa
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: fastapi_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://zeroo_database:passwd2972@db:5432/pembinaan_siswa
    expose:
      - 8000
    volumes:
      - ./backend/storage:/app/storage
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    networks:
      - app_network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    depends_on:
      - frontend
    command: certonly --webroot --webroot-path=/var/www/html --email admin@disposman1ketapang.sch.id --agree-tos --no-eff-email --force-renewal -d disposman1ketapang.sch.id -d www.disposman1ketapang.sch.id

volumes:
  postgres_data:
  certbot-etc:
  certbot-var:
  web-root:

networks:
  app_network:
    driver: bridge



