services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: zeroo_database
      POSTGRES_PASSWORD: passwd2972
      POSTGRES_DB: pembinaan_siswa
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: fastapi_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://zeroo_database:passwd2972@db:5432/pembinaan_siswa
    expose:
      - 8000
    volumes:
      - ./backend/storage:/app/storage
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl:/etc/nginx/ssl:ro
      - web-root:/var/www/html
    networks:
      - app_network

  # Certbot dinonaktifkan karena menggunakan Sectigo SSL manual
  # certbot:
  #   image: certbot/certbot
  #   ... (konfigurasi diarsipkan sebagai catatan)

volumes:
  postgres_data:
  web-root:
  # certbot-etc:
  # certbot-var:

networks:
  app_network:
    driver: bridge



