services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: zeroo_database
      POSTGRES_PASSWORD: passwd2972
      POSTGRES_DB: pembinaan_siswa
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: fastapi_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://zeroo_database:passwd2972@db:5432/pembinaan_siswa
      CORS_ORIGINS: https://dispo.sman1ketapang.sch.id,http://dispo.sman1ketapang.sch.id,http://localhost:3000
      FORWARDED_ALLOW_IPS: "*"
    expose:
      - 8000
    volumes:
      - ./backend/storage:/app/storage
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge



